name: CI
on:
  push:
    tags: '*'
    branches-ignore:
      - 'autodelivery**'
      - 'bump-**'
      - 'renovate/**'
    paths-ignore:
      - 'CHANGELOG.md'
      - 'LICENSE'
      - 'README.md'
      - 'renovate.json'
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'master') }}

jobs:
  check-simulations-multiplatform:
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-2025, macos-15, ubuntu-24.04 ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: DanySK/action-checkout@0.2.28
      - uses: DanySK/build-check-deploy-gradle-action@4.0.23
        with:
          build-command: true
          check-command: ./gradlew runAll --stacktrace
          should-run-codecov: false
          should-deploy: false
  build-image:
    permissions:
      contents: write
    needs:
      - check-simulations-multiplatform
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          ssh-key: ${{ secrets.DEPLOY_KEY }}
      - name: Build Image
        run: |
          IMAGE_NAME='danysk/alchemist-sapere-tutorial'
          echo docker build -t "$IMAGE_NAME:latest" .
          docker build -t "$IMAGE_NAME:latest" .
      - name: Create Release
        if: >-
          github.event_name != 'pull_request'
          && github.repository == 'AlchemistSimulator/SAPERE-incarnation-tutorial'
        env:
          GITHUB_TOKEN: ${{ github.token }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_USERNAME: danysk
        run: |
          npm install
          npx semantic-release --debug
  success:
    runs-on: ubuntu-24.04
    needs:
      - check-simulations-multiplatform
      - build-image
    if: >-
      always() && (
        contains(join(needs.*.result, ','), 'failure')
        || !contains(join(needs.*.result, ','), 'cancelled')
      )
    steps:
      - name: Verify that there were no failures
        run: ${{ !contains(join(needs.*.result, ','), 'failure') }}
